<a href="https://colab.research.google.com/github/federicoding/TestTechnique/blob/main/Importation_EFSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Entrainement pour ouvrir un TSV de l'EFSA

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url ='https://raw.githubusercontent.com/federicoding/TrainingGeneral/main/estat_urb_cpop1_defaultview_en.csv'

In [ ]:
pd.read_csv(filepath_or_buffer=url, sep=',', header=0)

                               DATAFLOW        LAST UPDATE  ... OBS_VALUE OBS_FLAG
0      ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...   8451860      NaN
1      ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...   8507786      NaN
2      ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...   1741246      NaN
3      ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...   1766746      NaN
4      ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...    265778      NaN
...                                 ...                ...  ...       ...      ...
38990  ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...      5427      NaN
38991  ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...      5375        b
38992  ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...      5390      NaN
38993  ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...      5339      NaN
38994  ESTAT:URB_CPOP1$DEFAULTVIEW(1.0)  05/08/21 23:00:00  ...      5246      NaN

[38995 rows x 8 columns]

Si on prends qd mm le **TSV** (qui est plus *raw* que les autres, c'est mieux)

In [ ]:
url = 'https://raw.githubusercontent.com/federicoding/TrainingGeneral/main/urb_cpop1.tsv'

In [ ]:
pd.read_csv(filepath_or_buffer=url, sep='\t', header=0)

      indic_ur,cities\time 2020   2019  2018   ...     1992      1991  1990  1989
0               DE1001V,AT    :      :     :   ...  7867796   7795786     :     :
1          DE1001V,AT001C1    :      :     :   ...        :   1539848     :     :
2          DE1001V,AT002C1    :      :     :   ...        :    237810     :     :
3          DE1001V,AT003C1    :      :     :   ...        :    203044     :     :
4          DE1001V,AT004C1    :      :     :   ...        :         :     :     :
...                    ...   ...    ...   ...  ...       ...       ...   ...   ...
57042      DE1139V,SK004C1    :    879     :   ...        :         :     :     :
57043      DE1139V,SK005C1    :   1034     :   ...        :         :     :     :
57044      DE1139V,SK006C1    :    871     :   ...        :         :     :     :
57045      DE1139V,SK007C1    :    660     :   ...        :         :     :     :
57046      DE1139V,SK008C1    :    726     :   ...        :         :     :     :

[57047 rows x 33 columns]

Première chose à faire, séparer la première colonne en deux.

In [ ]:
df = pd.read_csv(filepath_or_buffer=url, sep='\t', header=0)

In [ ]:
def get_prem(element):
  return element.split(',')[0]

In [ ]:
def get_second(element):
  return element.split(',')[1]

In [ ]:
df['indic_ur'] = df['indic_ur,cities\\time'].apply(get_prem)

In [ ]:
df['cities'] = df['indic_ur,cities\\time'].apply(get_second)

In [ ]:
df.head()

  indic_ur,cities\time 2020  2019  2018   ... 1990  1989  indic_ur   cities
0           DE1001V,AT    :     :     :   ...    :     :   DE1001V       AT
1      DE1001V,AT001C1    :     :     :   ...    :     :   DE1001V  AT001C1
2      DE1001V,AT002C1    :     :     :   ...    :     :   DE1001V  AT002C1
3      DE1001V,AT003C1    :     :     :   ...    :     :   DE1001V  AT003C1
4      DE1001V,AT004C1    :     :     :   ...    :     :   DE1001V  AT004C1

[5 rows x 35 columns]

In [ ]:
df.shape

(57047, 35)

In [ ]:
df.dtypes

indic_ur,cities\time    object
2020                    object
2019                    object
2018                    object
2017                    object
2016                    object
2015                    object
2014                    object
2013                    object
2012                    object
2011                    object
2010                    object
2009                    object
2008                    object
2007                    object
2006                    object
2005                    object
2004                    object
2003                    object
2002                    object
2001                    object
2000                    object
1999                    object
1998                    object
1997                    object
1996                    object
1995                    object
1994                    object
1993                    object
1992                    object
1991                    object
1990                    object
1989                    object
indic_ur                object
cities                  object
dtype: object

###Avec strip

In [ ]:
df.columns = df.columns.str.strip()

Avec un peu de code, pour être méthodique

In [ ]:
def whitespace_remover(dataframe):
  #iterations over columns
  for i in dataframe.columns:
    #check le type de chaque colonne
    if dataframe[i].dtype == 'object':
      #appliquer le strip
      dataframe[i] = dataframe[i].map(str.strip)
    else:
      #si rien, ben rien
      pass

In [ ]:
whitespace_remover(df)

In [ ]:
print(df)

      indic_ur,cities\time 2020  2019 2018  ... 1990 1989 indic_ur   cities
0               DE1001V,AT    :     :    :  ...    :    :  DE1001V       AT
1          DE1001V,AT001C1    :     :    :  ...    :    :  DE1001V  AT001C1
2          DE1001V,AT002C1    :     :    :  ...    :    :  DE1001V  AT002C1
3          DE1001V,AT003C1    :     :    :  ...    :    :  DE1001V  AT003C1
4          DE1001V,AT004C1    :     :    :  ...    :    :  DE1001V  AT004C1
...                    ...  ...   ...  ...  ...  ...  ...      ...      ...
57042      DE1139V,SK004C1    :   879    :  ...    :    :  DE1139V  SK004C1
57043      DE1139V,SK005C1    :  1034    :  ...    :    :  DE1139V  SK005C1
57044      DE1139V,SK006C1    :   871    :  ...    :    :  DE1139V  SK006C1
57045      DE1139V,SK007C1    :   660    :  ...    :    :  DE1139V  SK007C1
57046      DE1139V,SK008C1    :   726    :  ...    :    :  DE1139V  SK008C1

[57047 rows x 35 columns]

On va convertir vers du numérique...

NB: que sur les colonnes numériques, on vire donc les non numériques (là c'est du bourrin en fait, on l'applique à tout, donc faut faire gaffe).

In [ ]:
df2=df.iloc[:,1:-2].apply(pd.to_numeric, errors='coerce')

In [ ]:
df2

       2020    2019  2018  2017  ...       1992       1991  1990  1989
0       NaN     NaN   NaN   NaN  ...  7867796.0  7795786.0   NaN   NaN
1       NaN     NaN   NaN   NaN  ...        NaN  1539848.0   NaN   NaN
2       NaN     NaN   NaN   NaN  ...        NaN   237810.0   NaN   NaN
3       NaN     NaN   NaN   NaN  ...        NaN   203044.0   NaN   NaN
4       NaN     NaN   NaN   NaN  ...        NaN        NaN   NaN   NaN
...     ...     ...   ...   ...  ...        ...        ...   ...   ...
57042   NaN   879.0   NaN   NaN  ...        NaN        NaN   NaN   NaN
57043   NaN  1034.0   NaN   NaN  ...        NaN        NaN   NaN   NaN
57044   NaN   871.0   NaN   NaN  ...        NaN        NaN   NaN   NaN
57045   NaN   660.0   NaN   NaN  ...        NaN        NaN   NaN   NaN
57046   NaN   726.0   NaN   NaN  ...        NaN        NaN   NaN   NaN

[57047 rows x 32 columns]

On recolle les morceaux

In [ ]:
df2['indic_ur,cities\\time'] = df['indic_ur,cities\\time']
df2['indic_ur'] = df['indic_ur']
df2['cities'] = df['cities']

In [ ]:
df2.describe()

               2020          2019  ...          1990          1989
count  1.475800e+04  2.602500e+04  ...  7.330000e+02  2.520000e+02
mean   3.525520e+04  2.599108e+04  ...  1.241629e+05  9.449862e+04
std    6.277815e+05  2.181191e+05  ...  3.905672e+05  1.771023e+05
min    1.780000e+02  1.800000e+02  ...  9.190000e+02  8.840000e+02
25%    2.514000e+03  2.493000e+03  ...  6.689000e+03  1.071450e+04
50%    4.540000e+03  4.580000e+03  ...  1.668500e+04  3.166650e+04
75%    9.987000e+03  9.900000e+03  ...  9.942600e+04  8.433225e+04
max    5.964149e+07  1.728216e+07  ...  6.873687e+06  1.655272e+06

[8 rows x 32 columns]

###Old

Puis on remplace les ':' par np.NaN

In [ ]:
df.replace(':', np.NaN)

      indic_ur,cities\time 2020  2019 2018  ... 1990 1989 indic_ur   cities
0               DE1001V,AT  NaN   NaN  NaN  ...  NaN  NaN  DE1001V       AT
1          DE1001V,AT001C1  NaN   NaN  NaN  ...  NaN  NaN  DE1001V  AT001C1
2          DE1001V,AT002C1  NaN   NaN  NaN  ...  NaN  NaN  DE1001V  AT002C1
3          DE1001V,AT003C1  NaN   NaN  NaN  ...  NaN  NaN  DE1001V  AT003C1
4          DE1001V,AT004C1  NaN   NaN  NaN  ...  NaN  NaN  DE1001V  AT004C1
...                    ...  ...   ...  ...  ...  ...  ...      ...      ...
57042      DE1139V,SK004C1  NaN   879  NaN  ...  NaN  NaN  DE1139V  SK004C1
57043      DE1139V,SK005C1  NaN  1034  NaN  ...  NaN  NaN  DE1139V  SK005C1
57044      DE1139V,SK006C1  NaN   871  NaN  ...  NaN  NaN  DE1139V  SK006C1
57045      DE1139V,SK007C1  NaN   660  NaN  ...  NaN  NaN  DE1139V  SK007C1
57046      DE1139V,SK008C1  NaN   726  NaN  ...  NaN  NaN  DE1139V  SK008C1

[57047 rows x 35 columns]

Remplacement des `:` avec des `NaN`

In [ ]:
df.replace(': ', np.NaN)

      indic_ur,cities\time 2020   2019  2018   ... 1990  1989  indic_ur   cities
0               DE1001V,AT   NaN    NaN   NaN  ...   NaN   NaN  DE1001V       AT
1          DE1001V,AT001C1   NaN    NaN   NaN  ...   NaN   NaN  DE1001V  AT001C1
2          DE1001V,AT002C1   NaN    NaN   NaN  ...   NaN   NaN  DE1001V  AT002C1
3          DE1001V,AT003C1   NaN    NaN   NaN  ...   NaN   NaN  DE1001V  AT003C1
4          DE1001V,AT004C1   NaN    NaN   NaN  ...   NaN   NaN  DE1001V  AT004C1
...                    ...   ...    ...   ...  ...   ...   ...      ...      ...
57042      DE1139V,SK004C1   NaN   879    NaN  ...   NaN   NaN  DE1139V  SK004C1
57043      DE1139V,SK005C1   NaN  1034    NaN  ...   NaN   NaN  DE1139V  SK005C1
57044      DE1139V,SK006C1   NaN   871    NaN  ...   NaN   NaN  DE1139V  SK006C1
57045      DE1139V,SK007C1   NaN   660    NaN  ...   NaN   NaN  DE1139V  SK007C1
57046      DE1139V,SK008C1   NaN   726    NaN  ...   NaN   NaN  DE1139V  SK008C1

[57047 rows x 35 columns]

In [ ]:
len(df['2020 '][0])

2

C'est hyper-chaud!! Y a des espaces de partout!! ><

Un truc de plus...

In [ ]:
pip install eurostat

Collecting eurostat
  Downloading eurostat-0.2.3-py3-none-any.whl (11 kB)
Collecting pandasdmx<=0.9
  Downloading pandaSDMX-0.9-py2.py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.3 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from eurostat) (1.1.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from eurostat) (2.23.0)
Collecting jsonpath-rw
  Downloading jsonpath-rw-1.4.0.tar.gz (13 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandasdmx<=0.9->eurostat) (4.2.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pandasdmx<=0.9->eurostat) (57.2.0)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.5 MB/s
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from jsonpath-rw->pandasdmx<=0.9->eurostat) (4.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from jsonpath-rw->pandasdmx<=0.9->eurostat) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->eurostat) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->eurostat) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->eurostat) (1.19.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->eurostat) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->eurostat) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->eurostat) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->eurostat) (1.24.3)
Building wheels for collected packages: jsonpath-rw
  Building wheel for jsonpath-rw (setup.py) ... done
  Created wheel for jsonpath-rw: filename=jsonpath_rw-1.4.0-py3-none-any.whl size=15145 sha256=976d93a2a377a28c9a123a2e8e8c13d8b5308bfe403e3fe6921a78846735c042
  Stored in directory: /root/.cache/pip/wheels/58/88/2a/8d619cf38d7cf939e54b6ccdece05d31b64b3eb419c11d1ed3
Successfully built jsonpath-rw
Installing collected packages: ply, jsonpath-rw, pandasdmx, eurostat
Successfully installed eurostat-0.2.3 jsonpath-rw-1.4.0 pandasdmx-0.9 ply-3.11

In [ ]:
import eurostat

In [ ]:
toc = eurostat.get_toc()

In [ ]:
toc[0]

('title',
 'code',
 'type',
 'last update of data',
 'last table structure change',
 'data start',
 'data end')

In [ ]:
toc[1]

('Database by themes', 'data', 'folder', ' ', ' ', ' ', ' ')

In [ ]:
toc[1:4]

[('Database by themes', 'data', 'folder', ' ', ' ', ' ', ' '),
 ('General and regional statistics', 'general', 'folder', ' ', ' ', ' ', ' '),
 ('European and national indicators for short-term analysis',
  'euroind',
  'folder',
  ' ',
  ' ',
  ' ',
  ' ')]

As a dataframe

In [ ]:
toc_df = eurostat.get_toc_df()

In [ ]:
f = eurostat.subset_toc_df(toc_df, 'urban')

In [ ]:
f

                                                   title  ... data end
320    Nights spent at tourist accommodation establis...  ...     2020
326    Number of establishments, bedrooms and bed-pla...  ...     2020
541                               Degree of urbanisation  ...
543    Self-perceived health by sex, age and degree o...  ...     2020
544    People having a long-standing illness or healt...  ...     2020
...                                                  ...  ...      ...
10408  Participation rate in education and training (...  ...     2020
10431  Participation rate in education and training b...  ...     2016
10437  Participation rate in job-related non-formal e...  ...     2016
10450  Participation rate in informal learning by lea...  ...     2016
10457  Mean instruction hours spent by participant in...  ...     2016

[354 rows x 7 columns]

#New Test

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
!ls "/content/gdrive/MyDrive"

 0568_001.pdf
 2015_11_10_Spatialite_explicite_RC.docx
 2015_11_10_Spatialite_explicite_RC.docx.gdoc
 annonce-110-213440.htm
 Bonus_sous_R.R
'Colab Notebooks'
'Copie de Coronavirus – When Should You Close Your Office?.gsheet'
 data
 InsuranceJapan.pdf
 MOV_0007.mp4
 MOV_0008.mp4
 projects
'pwo-ofwe-sox – 1 févr. 2021.gjam'
 urb_cpop1.tsv

In [4]:
import pandas as pd
import numpy as np

In [6]:
pd.read_csv(filepath_or_buffer="/content/gdrive/MyDrive/urb_cpop1.tsv", sep='\t', header=0)

      indic_ur,cities\time 2020   2019  2018   ...     1992      1991  1990  1989
0               DE1001V,AT    :      :     :   ...  7867796   7795786     :     :
1          DE1001V,AT001C1    :      :     :   ...        :   1539848     :     :
2          DE1001V,AT002C1    :      :     :   ...        :    237810     :     :
3          DE1001V,AT003C1    :      :     :   ...        :    203044     :     :
4          DE1001V,AT004C1    :      :     :   ...        :         :     :     :
...                    ...   ...    ...   ...  ...       ...       ...   ...   ...
57042      DE1139V,SK004C1    :    879     :   ...        :         :     :     :
57043      DE1139V,SK005C1    :   1034     :   ...        :         :     :     :
57044      DE1139V,SK006C1    :    871     :   ...        :         :     :     :
57045      DE1139V,SK007C1    :    660     :   ...        :         :     :     :
57046      DE1139V,SK008C1    :    726     :   ...        :         :     :     :

[57047 rows x 33 columns]